@using Sitecore.Feature.Library
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Library.Models.DynamicSampleModel

<div class="panel-group" id="your-id" role="tablist" aria-multiselectable="true">
  HTML Sample Here...
</div>