@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Feature.Library;
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@model RenderingModel
@{
    Sitecore.Data.Items.Item currentPage = RenderingContext.Current.PageContext.Item;
}

<div class="article-image">@Html.Sitecore().ImageField(Sitecore.Feature.Library.Templates.BaseField.Fields.Background, currentPage, cssClass: "img-responsive")</div>

