@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="page-section bg-color-white">
    <div class="container">
        <div class="valign mb-4">
            <div class="valign__item">
                <h1 class="m-0">Maybank Bali Marathon 2015</h1>
            </div>
            <div class="valign__item valign__item--bottom text-right"><a class="btn btn-link btn-link--black lh-1 pb-1" href="detail/index.html"> <span class="t-size-14">SEE ALL</span><img class="pl-2" src="../img/icon/arrow-right-yellow.svg" alt="" /></a></div>
        </div>
        <div class="row js-gallery-group">
            <div class="col-xs-12 col-sm-3 mb-3">
                <div class="gallery">
                    <div class="gallery__thumbnail" style="background-image: url(../img/gallery/rectangle-copy-6@2x.jpg)"></div>
                    <div class="gallery__detail" data-trigger="gallery">
                        <div class="gallery__action"> <i class="icon icon-cursor-move"></i></div>
                        <div class="gallery__caption">
                            Lorem ipsum dolor sit amet, consectetur
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 mb-3">
                <div class="gallery">
                    <div class="gallery__thumbnail" style="background-image: url(../img/gallery/rectangle-copy-7@2x.jpg)"></div>
                    <div class="gallery__detail" data-trigger="gallery">
                        <div class="gallery__action"> <i class="icon icon-cursor-move"></i></div>
                        <div class="gallery__caption">
                            Lorem ipsum dolor sit amet, consectetur
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 mb-3">
                <div class="gallery">
                    <div class="gallery__thumbnail" style="background-image: url(../img/gallery/rectangle-copy-11@2x.jpg)"></div>
                    <div class="gallery__detail" data-trigger="gallery">
                        <div class="gallery__action"> <i class="icon icon-cursor-move"></i></div>
                        <div class="gallery__caption">
                            Lorem ipsum dolor sit amet, consectetur
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 mb-3">
                <div class="gallery">
                    <div class="gallery__thumbnail" style="background-image: url(../img/gallery/rectangle@2x.jpg)"></div>
                    <div class="gallery__detail" data-trigger="gallery">
                        <div class="gallery__action"> <i class="icon icon-cursor-move"></i></div>
                        <div class="gallery__caption">
                            Lorem ipsum dolor sit amet, consectetur
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>