@using Sitecore.Feature.Content
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Library.Helper.PagedData<Sitecore.Data.Items.Item>


<div class="row js-gallery-group">
    @if (Model != null && Model.Data != null)
    {
        string urlFile, targetWindow = string.Empty;
        foreach (Sitecore.Data.Items.Item item in Model.Data)
        {
            urlFile = "#";

            if (item.Fields[Sitecore.Feature.Library.Templates.BaseField.Fields.FileMBMImage] != null && item.Fields[Sitecore.Feature.Library.Templates.BaseField.Fields.FileMBMImage].Value != string.Empty)
            {
                Sitecore.Data.Fields.FileField field = (Sitecore.Data.Fields.FileField)item.Fields[Sitecore.Feature.Library.Templates.BaseField.Fields.FileMBMImage];
                if (field.MediaItem != null)
                {
                    urlFile = Sitecore.Resources.Media.MediaManager.GetMediaUrl(field.MediaItem);
                }
            }

            <div class="col-xs-12 col-sm-3">
                <div class="gallery mb-3 mb-sm-5">
                    <div class="gallery__thumbnail" style="background-image: url(@urlFile)"></div>
                    <div class="gallery__detail" data-trigger="gallery">
                        <div class="gallery__action"> <i class="icon icon-cursor-move"></i></div>
                        <div class="gallery__caption">
                            @item.Fields[Sitecore.Feature.Library.Templates.BaseField.Fields.Title]
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@if (Model != null && Model.Data != null)
{
    <!-- PAGINATION COMPONENT -->
    @Html.Partial("~/Views/Pagination/_Pagination.cshtml", Model)
}
