@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<div class="article article-wysiwyg--small">
    <div class="article-header">
        <h2 class="article-title">Polar Heart Tate Training</h2>
        <p class="article-date">25 January 2018</p>
    </div>
    <div class="article-image"><img src="../../img/blog/article-header-image.jpg" /></div>
    <div class="article-body">
        <h3>Pengetahuan Dasar Mengenai Zona Detak Jantung (HR) saat Berlari</h3>
        <p>Pada dasarnya, latihan olahraga dibagi atas tiga variabel: Frekuensi, Durasi dan Intensitas latihan. Program latihan lari yang bagus akan mencakup jenis latihan yang berbeda-beda dan terjadwalkan dengan jeda istirahat sehingga anda memiliki waktu yang cukup untuk proses pemulihan: beberapa latihan berdurasi pendek dan berdurasi panjang, beberapa latihan berintensitas tinggi dan berintensitas rendah.</p>
        <p>Frekuensi adalah variable yang mudah dimengerti: yaitu berapa kali anda melakukan latihan dalam suatu periode waktu, misalnya per minggu.</p>
        <p>Durasi juga merupakan suatu variable yang sederhana: yaitu berapa lama anda melakukan latihan dalam satu waktu, biasanya dihitung dalam satuan menit.</p>
        <p>Intensitas adalah variabel yang lebih kompleks - dan di sinilah Zona Detak Jantung (HR) diperhitungkan. HR anda adalah salah satu indikator terbaik tentang seberapa keras tubuh anda bekerja selama melakukan latihan lari.</p>
        <p>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="row"><img class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pb-3" src="../../img/blog/article-body-image-1.jpg" /></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="row"><img class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pb-3" src="../../img/blog/article-body-image-2.jpg" /></div>
                </div>
            </div>
        </p>
        <p>Kita semua memiliki HR Minimum dan HR Maksimal yang berbeda-beda, HR Minimum adalah detak jantung pada saat tubuh sedang beristirahat, HR Maksimal adalah detak jantung pada saat tubuh sedang melakukan latihan berintensitas tinggi. Dan di antara HR Minimun dan HR Maksimal terdapat Zona-Zona HR yang berbeda-beda, yang berkaitan dengan Intensitas latihan dan manfaat latihan.</p>
        <p>Ada berbagai cara untuk menentukan Zona HR. Salah satu cara sederhana adalah dengan mendefinisikannya sebagai persentase dari HR Maksimal anda, dan inilah yang akan kita fokuskan dalam pembahasan ini.</p>
    </div>
</div>