@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Feature.Library.Helper
@model RenderingModel

@if (!Model?.Item?.IsDerived(Sitecore.Feature.Library.Templates.Banner.ID) ?? true)
{
    @Html.PageEditorInfo(AlertTexts.InvalidDataSourceTemplate(Sitecore.Feature.Library.Templates.Banner.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
    return;
}

@if (Model.Item != null && Model.Item.TemplateID == Sitecore.Feature.Library.Templates.Banner.ID)
{
    string url = "#";
    string imageUrl = string.Format("style=\"background-image:url({0});\"", Variables._defaultImageBanner);

    if (Model.Item.LinkFieldUrl(Sitecore.Feature.Library.Templates.Banner.Fields.Url) != null)
    {
        Sitecore.Data.Fields.LinkField _link = Model.Item.Fields[Sitecore.Feature.Library.Templates.Banner.Fields.Url];
        url = Sitecore.Feature.Library.Helper.Core.getGeneralLink(_link);

       // url = Model.Item.LinkFieldUrl(Sitecore.Feature.Library.Templates.Banner.Fields.Url);
    }

    if (Model.Item.ImageUrl(Sitecore.Feature.Library.Templates.Banner.Fields.Image) != null)
    {
        imageUrl = string.Format("style=background-image:url({0});", Model.Item.ImageUrl(Sitecore.Feature.Library.Templates.Banner.Fields.Image));
    }

    <div class="addon-item content-panels-3-item">
        <a href="@url">
            <div class="content-panels-3-wrapper" @imageUrl></div>
            <div class="content-panels-3-body">
                <div>
                    <h2>@Html.Raw(@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.Banner.Fields.stringBannerTitle, Model.Item))</h2>
                </div>
            </div>
        </a>
    </div>
}
