@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Feature.Library.Helpers

@model RenderingModel
@{
    var isReverse = RenderingContext.Current.Rendering.Parameters["ReverseColumn"];
}

<div class="row">
    @if (isReverse != "1")
    {
        <div class="col-xs-12 col-md-5">
            <div class="heading">
                <h1>@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.BaseField.Fields.Title)</h1>
            </div>
        </div>
        <div class="col-xs-12 col-md-7">
            <div class="logo-list clearfix">
                @foreach (Sitecore.Data.Items.Item item in Model.Item.Children)
                {
                    <div class="logo-item col-xs-6 col-sm-4">
                        @Html.Sitecore().ImageField(Sitecore.Feature.Library.Templates.BaseField.Fields.Thumbnail, item, cssClass: "RemoveAutosizeImageField")
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="col-xs-12 col-md-7">
            <div class="logo-list clearfix">
                @foreach (Sitecore.Data.Items.Item item in Model.Item.Children)
                {
                    <div class="logo-item col-xs-6 col-sm-4">
                        @Html.Sitecore().ImageField(Sitecore.Feature.Library.Templates.BaseField.Fields.Thumbnail, item, cssClass: "RemoveAutosizeImageField")
                    </div>
                }
            </div>
        </div>
        <div class="col-xs-12 col-md-5">
            <div class="heading">
                <h1>@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.BaseField.Fields.Title)</h1>
            </div>
        </div>
    }
</div>
