@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Feature.Library;
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Data.Items
@model Sitecore.Mvc.Presentation.RenderingModel
@if (!Model?.Item?.IsDerived(Sitecore.Feature.Library.Templates.ImageLink.ID) ?? true)
{
    @Html.PageEditorInfo(AlertTexts.InvalidDataSourceTemplate(Sitecore.Feature.Library.Templates.ImageLink.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
    return;
}
@{
    Item _dataSource = Model.Item;
    Sitecore.Data.Fields.LinkField _link = _dataSource.Fields[Sitecore.Feature.Library.Templates.ImageLink.Fields.UrlImageLink];
    string link = Sitecore.Feature.Library.Helper.Core.getGeneralLink(_link);
}
<div class="section m-info-box">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="@link" target="_blank">
                    @*<img class="full-center-img" src="../../../assets/img/about-us/structure-organisasi.jpg" />*@
                    @Html.Sitecore().ImageField(Sitecore.Feature.Library.Templates.ImageLink.Fields.Image, _dataSource, cssClass: "full-center-img")
                </a>
            </div>
        </div>
    </div>
</div>