<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Content" description="Feature Content" dependencies="Foundation.*" extends="Helix.Feature">
          <predicate>
            <include name="Rendering.Article" database="master" path="/sitecore/layout/Renderings/Feature/Article" />
            <include name="Rendering.BOD" database="master" path="/sitecore/layout/Renderings/Feature/BOD" />
            <include name="Rendering.CorporateContent" database="master" path="/sitecore/layout/Renderings/Feature/Corporate Content" />
            <include name="Rendering.Syariah" database="master" path="/sitecore/layout/Renderings/Feature/Syariah" />
            <include name="Templates.NewsArticle" database="master" path="/sitecore/templates/Feature/News" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>